// Type
$base-font-family: "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
$secondary-font-family: "adelle-sans", Helvetica Neue, Helvetica, Arial, sans-serif;
$tertiary-font-family: "calluna", Georgia, Times, serif;
$base-font-size: 18px;

// Color
$text-color: #222222;
$background-color: #FDFDFD;
$green: #57AD68;
$yellow: #FFFF77;

// Layout
$content-width: 55rem;
$spacing-unit: 2rem;